
img {
  visibility:visible;
}
#header
{background: #007765;
}
header,a{

  display: block;
visibility:visible;
  text-align: center;
  background: #007765;
  color: white;
  text-decoration: none;
  height: 84px;
  min-width: 120px;
  align-items: center;
  align-content: center;
  justify-content: center;
}
h2{
  text-align: center;
  color:#007765;
}
#first{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 403px;
  min-width: 120px;
  background: url("img/image.png");
}
#coin{
  display:block;
  height: 483px;
  min-width: 120px;
  background: url("img/image (1).png");

}
footer {
  color: white;
  background:#333333;
  align-content: center;
  justify-content: center;
  align-items: center;
  display: flex;
  height:176px;
  min-width:120px;
}
/* header {
    background: no-repeat left/cover url(/media/examples/puppy-header-logo.jpg);
    display: flex;
    height: 120px;
    min-width: 120px;
    align-items: center;
    color: #fff;
    text-shadow: #000 0 0 .2em;
} */
